

// base styles
// ----------------------------------------------------------------------


html {}
body {
	background: #333;
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}



// main overwrites
// ------------------------

a { 
	text-decoration: none; 
	color: #fff;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

// floats
.fLt { float: left; }
.fRt { float: right; }

// clear for floated containers 
.clearFloats { 
	zoom: 1; 
	&:before,
	&:after {
		content: ""; 
		display: table; 
	}
	&:after { clear: both; }
}
// ------------------------



// responsive images
.rImg { width: 100%; }



// body wrapper
// ------------------------
.bodyWrapper {
	text-align: center;
}
// ------------------------



// page wrapper
// ------------------------
.pageWrapper {
	width: $pageWidth;
	margin: 0 auto;
	text-align: left;
}
// ------------------------



// site menu (both header and footer)
// ------------------------
.siteNav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		padding: 5px;
	}

}
// ------------------------



// page header
// ------------------------
.pageHeader {
	min-height: 60px;

	// menu 
	.siteNav { 
		background: $yellowColor; 
		margin-bottom: 20px;
		li {
			line-height: 1;
			a { 
				display: block;
				font-size: 1.2em;
				padding: .7em 1em;
				margin: 0;
				color: #000;
				text-transform: uppercase;
				border: 1px solid transparent;
				&:hover { border-color: #000; }
			}
			&:last-child { float: right; }
			&.active a { 
				background: #000;
				color: $yellowColor;
			}
		}
	}
}
// header contact box
.headerContacts {
	float: right;
	background: #000;
	padding: 7px 10px;
	margin: 5px 0;
	text-align: center;
	font-size: 12px;
	h3 { 
		font-size: 28px;
		margin: 0 0 .2em;
		line-height: 1;
	}
}
// header logo
.headerLogo {
	
}
// header right container
.headeRightContainer { 
	float: right; 
}
// header language selector
.headerLang {
	font-size: .8em;
	text-align: right;
	padding-top: 5px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li { 
		display: inline-block;
		text-transform: uppercase;
		&.active { display: none; }
	}
}
// ------------------------



// page footer
// ------------------------
.pageFooter {
	margin: 20px 0 0;
	text-align: center;
	font-size: .8em;
}
.footerCopyright { 
	padding: 5px 0 10px;
	margin-top: 5px;
	font-size: .7em;
	color: #999;
	border-top: 1px solid #999;
}
// ------------------------



// menu burger button
// ------------------------
.pageHeader {
	
	$menuBurgerAnimationSpeed: 0.2s;
	$menuBurgerLineHeight: 4px;
	
	.menuBurgerButton {
		display: none;
		font-size: 24px;
		position: absolute;
		top: -5px;
		left: -5px;
		z-index: 2;
		width: 56px;
		height: 56px;
		cursor: pointer;
		background: #f3f3f3; 
	
		span {
			@include create-block(60%,$menuBurgerLineHeight);
			top: 50%;
			left: 20%;
			margin-top: -#{$menuBurgerLineHeight / 2};
			background-color: #900;
			border-radius: 1em;
			//
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			//
			
			&:after,
			&:before {
				@include create-block(100%,100%);
				left: 0;
				background: #900;
				border-radius: 1em;
				-webkit-transition: -webkit-transform $menuBurgerAnimationSpeed; 
				-moz-transition: -moz-transform $menuBurgerAnimationSpeed;
				-o-transition: -o-transform $menuBurgerAnimationSpeed;
				transition: transform $menuBurgerAnimationSpeed;
			}
			
			&:before { @include cssTransform(translateY(8px)); }
			&:after { @include cssTransform(translateY(-8px)); }
		}
	}

	// arrow transformation
	&.showAdaptiveMenu .menuBurgerButton span {
		&:before { @include cssTransform(translateY(6px) translateX(-9px) rotate(45deg) scaleX(0.5)); }
		&:after { @include cssTransform(translateY(-6px) translateX(-9px) rotate(-45deg) scaleX(0.5)); }
	}
}
// ------------------------



// page content area  
// ------------------------
.pageContentContainer {
	background: #999;
}

.pageTitle,
.contentInsider { padding: 20px; }

.pageTitle { 
	background: #2c2d2f;
	margin: 0;
}
.pageContent { 
	background: #3a3b3f; 
}
// ------------------------





// page content > page Home 
// ------------------------
.pageHome {
	.bx-wrapper .bx-pager { 
		bottom: 0;
    	right: 0;
    	width: auto;
    	a { margin: 0 3px 0 0 !important; }
	}
}

.bxslider { margin: 0 !important; }
// ------------------------





// page content > page Cars List (Cars for sale)
// ------------------------
.carItem {
	.carTitle { 
		font-size: 1.8em;
		padding: 20px;
		margin: 0;
		background: #37383a;
	}
	.grid {
		background: #4f5053;
		padding: 20px;
	}
	.carPic {
		img { 
			width: 100%;
			border: 1px solid $borderColor;
			padding: 1px;
		}
	}
	.carPics {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
			width: 46%;
			float: left;
			margin: 0 4% 4% 0;
			img { 
				width: 100%;
				border: 1px solid $borderColor;
				padding: 1px;
			}
		}
	}
	.carDetails { font-size: 1em; }
}
// ------------------------





// page content > page References 
// ------------------------
.pageReferences {
	.contentInsider { padding: 20px 0 0 20px; }
	.referenceList {
		list-style: none;
		margin: 0;
		padding: 0;
		@include displayFlex;
		@include flex-wrap(wrap);
		li {
			@include flex(0 0 31%);
			margin: 0 2% 2% 0;
			padding: 2px;
			border: 1px solid $borderColor;
			text-align: center;
			img { width: 100%; }
			h5 { 
				font-size: 1.1em;
				margin: .5em;
			}
			&:hover {
				border-color: $yellowColor;
			}
		}
	}
}
// ------------------------



// page content > page WORKSHOP
// ------------------------
.pageWorkshop {
	
}
.workshopThumbs {
	ul {
		list-style: none;
		padding: 0;
		margin: 0; 	
		float: right;
	}
	li {
		display: block;
		float: left;
		width: 31%;
		margin: 0 3% 3% 0;
		&:nth-child(3n) {
			margin-right: 0;
		}
		img { 
			padding: 2px;
			border: 1px solid #ccc;
			width: 100%;
		} 
		&:hover img { border-color: #fff; }
		a.active img { border-color: $yellowColor; }
	}
}




// page content > page Car 
// ------------------------
.pageCar {
	.carThumbs {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li { 
			float: left;
			width: 95px;
			margin: 5px 5px 0 0;
			img { 
				display: block;
				width: 100%;
				border: 2px solid $borderColor;
			}
			&:hover img { border-color: #fff; }
			a.active img { border-color: $yellowColor; }
		}
	}
	.carDetails {
		// font-size: .9em;
	}
	.carDesription {
		border-top: 1px solid $borderColor;
		margin: 10px 0;
		padding-top: 10px;
		font-size: .9em;
	}
	.carImgPlaceholder {
		img { width: 100%; }
	}
}

.carTechDetails {
	margin: 0 0 20px;
	dt, dd {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: .9em;
	}
	dt { width: 40%; }
	dd { 
		color: #eee;
		width: 60%;
	}
}
// ------------------------



