

// base styles
// ----------------------------------------------------------------------


html {}
body {
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #000;
	background-repeat: no-repeat;
	background-position: top center;
}



// main overwrites
// ------------------------

a { 
	text-decoration: none; 
	color: #fff;
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	margin-top: 0;
}

// floats
.fLt { float: left; }
.fRt { float: right; }

// clear for floated containers 
.clearFloats { 
	zoom: 1; 
	&:before,
	&:after {
		content: ""; 
		display: table; 
	}
	&:after { clear: both; }
}
// ------------------------



// responsive images
.rImg { width: 100%; }


// page background image
.bodyBgImg {
	position: fixed;
	z-index: -1;
	text-align: center;
	width: 100%; 
	img { 
		// width: 100%;  
	}
}


// body wrapper
// ------------------------
.bodyWrapper {
	text-align: center;
}
// ------------------------



// page wrapper
// ------------------------
.pageWrapper {
	width: $pageWidth;
	margin: 0 auto;
	text-align: left;
}
// ------------------------



// site menu (both header and footer)
// ------------------------
.siteNav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		padding: 5px;
	}

}
// ------------------------



// page header
// ------------------------
.pageHeader {
	position: relative;
	min-height: 60px;

	// menu 
	.siteNav { 
		background: $yellowColor; 
		margin-bottom: 20px;
		li {
			line-height: 1;
			a { 
				display: block;
				font-size: 1.2em;
				padding: .7em 1em;
				margin: 0;
				color: #000;
				text-transform: uppercase;
				border: 1px solid transparent;
				&:hover { border-color: #000; }
			}
			&:last-child { float: right; }
			&.active a { 
				background: #000;
				color: $yellowColor;
			}
		}
	}
}
// header contact box
.headerContacts {
	float: right;
	background: #000;
	margin: 30px 0 0;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	h3 { 
		font-size: 28px;
		margin: 0;
		line-height: 1;
	}
}

// header logo
.headerLogo {
	padding-top: 30px;
	a {
		display: block;
		width: 150px;
		height: 52px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: url('../img/protrade_logo_yellow_black.png');
	}
}

// header right container
.headeRightContainer { 
	float: right; 
}

// header language selector
.headerLang {
	position: absolute;
	top: 3px;
	right: 0;
	font-size: .8em;
	text-align: right;
	padding-top: 5px;
	a { 
		color: #999;
		&:hover { color: #ccc; }
	} 	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li { 
		display: inline-block;
		text-transform: uppercase;
		&.active { display: none; }
	}
}
// ------------------------



// page footer
// ------------------------
.pageFooter {
	margin: 20px 0 0;
	text-align: center;
	font-size: .8em;
}
.footerCopyright { 
	padding: 5px 0 10px;
	margin-top: 5px;
	font-size: .7em;
	color: #999;
	border-top: 1px solid #999;
}
// ------------------------


// header page title / available onsmall screens
// ------------------------
.headerPageTitle {
		display: none;
	  font-size: 18px;
    color: #000;
    padding: 14px 0 0 54px;
    float: left;
}


// menu burger button
// ------------------------
.pageHeader {
	
	$menuBurgerAnimationSpeed: 0.2s;
	$menuBurgerLineHeight: 4px;
	
	.menuBurgerButton {
		display: none;
		font-size: 24px;
		position: absolute;
		z-index: 9;
		width: 54px;
		height: 54px;
		cursor: pointer;
		background: $yellowColor; 
	
		span {
			@include create-block(60%,$menuBurgerLineHeight);
			top: 50%;
			left: 20%;
			margin-top: -#{$menuBurgerLineHeight / 2};
			background-color: #000;
			border-radius: 1em;
			//
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			//
			
			&:after,
			&:before {
				@include create-block(100%,100%);
				left: 0;
				background: #000;
				border-radius: 1em;
				-webkit-transition: -webkit-transform $menuBurgerAnimationSpeed; 
				-moz-transition: -moz-transform $menuBurgerAnimationSpeed;
				-o-transition: -o-transform $menuBurgerAnimationSpeed;
				transition: transform $menuBurgerAnimationSpeed;
			}
			
			&:before { @include cssTransform(translateY(8px)); }
			&:after { @include cssTransform(translateY(-8px)); }
		}
	}

	// arrow transformation
	&.showAdaptiveMenu .menuBurgerButton span {
		&:before { @include cssTransform(translateY(6px) translateX(-9px) rotate(45deg) scaleX(0.5)); }
		&:after { @include cssTransform(translateY(-6px) translateX(-9px) rotate(-45deg) scaleX(0.5)); }
	}
}
// ------------------------



// page content area  
// ------------------------
.pageContentContainer {
	background: #999;
}

.pageTitle,
.contentInsider { padding: 20px; }

.pageTitle { 
	background: #2c2d2f;
	margin: 0;
}
.pageContent { 
	background: #3a3b3f; 
}
// ------------------------





// page content > page HOME
// ------------------------
.pageHome {
	.bx-wrapper .bx-pager { 
		bottom: 0;
    	right: 0;
    	width: auto;
    	a { margin: 0 3px 0 0 !important; }
	}
}

.bxslider { margin: 0 !important; }
// ------------------------





// page content > page CARS FOR SALE
// ------------------------
.carItem {

	position: relative;

	// labels
	.statusLabel { 
		$labelCorner: 5px;
		$colorSold: #900;
		$colorSoon: #ff5a00;
		// display: none; 
		position: absolute;
		display: block;
		top: 15px;
		right: -#{$labelCorner};
		padding: .3em 1em .5em;
		background-color: #000;
		color: #fff;
		font-size: 1.2em;
		line-height: 1.2em;
		border-radius: 5px 0 0 5px;
		&:before,
		&:after {
			@include create-block(1px,1px);
			right: 0;
			background: transparent;
			width: 0;
			height: 0;
			border-style: solid;
		}
		&:before {
			top: -#{$labelCorner};
			border-width: $labelCorner 0 0 $labelCorner;
			border-color: transparent transparent transparent #000;
		}
		&:after {
			bottom: -#{$labelCorner};
			border-width: $labelCorner $labelCorner 0 0;
			border-color: #000 transparent transparent transparent;
		}
		&.sold {
			background-color: $colorSold;
			&:before { border-color: transparent transparent transparent $colorSold; } 
			&:after { border-color: $colorSold transparent transparent transparent; }
		}
		&.soon {
			background-color: $colorSoon;
			&:before { border-color: transparent transparent transparent $colorSoon; } 
			&:after { border-color: $colorSoon transparent transparent transparent; }
		}
	}

	.carTitle { 
		font-size: 1.8em;
		margin: 0;
		background: #37383a;
		a {	
			display: block;
			padding: 20px;
		}
	}
	.grid {
		background: #4f5053;
		padding: 20px;
	}
	.carPic {
		img { 
			width: 100%;
			border: 1px solid $borderColor;
			padding: 1px;
		}
	}
	.carPics {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
			width: 46%;
			float: left;
			margin: 0 4% 4% 0;
			img { 
				width: 100%;
				border: 1px solid $borderColor;
				padding: 1px;
			}
		}
	}
	.carDetails { font-size: 1em; }
}
// ------------------------





// page content > page REFERENCES 
// ------------------------
.pageReferences {
	.contentInsider { padding: 20px 0 0 20px; }
	.referenceList {
		list-style: none;
		margin: 0;
		padding: 0;
		@include displayFlex;
		@include flex-wrap(wrap);
		li {
			@include flex(0 0 31%);
			margin: 0 2% 2% 0;
			padding: 2px;
			border: 1px solid $borderColor;
			text-align: center;
			img { width: 100%; }
			h5 { 
				font-size: 1.1em;
				margin: .5em;
			}
			&:hover {
				border-color: $yellowColor;
			}
		}
	}
}
// ------------------------



// page content > page WORKSHOP
// ------------------------
.pageWorkshop {
	
}
.workshopThumbs {
	ul {
		list-style: none;
		padding: 0;
		margin: 0; 	
		float: right;
	}
	li {
		display: block;
		float: left;
		width: 31%;
		margin: 0 3% 3% 0;
		&:nth-child(3n) {
			margin-right: 0;
		}
		img { 
			padding: 2px;
			border: 1px solid #ccc;
			width: 100%;
		} 
		&:hover img { border-color: #fff; }
		a.active img { border-color: $yellowColor; }
	}
}




// page content > page (single)CAR 
// ------------------------
.pageCar {
	.carThumbs {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li { 
			float: left;
			width: 95px;
			margin: 5px 5px 0 0;
			img { 
				display: block;
				width: 100%;
				border: 2px solid $borderColor;
			}
			&:hover img { border-color: #fff; }
			a.active img { border-color: $yellowColor; }
		}
	}
	.carDetails {
		// font-size: .9em;
	}
	.carDesription {
		border-top: 1px solid $borderColor;
		margin: 10px 0;
		padding-top: 10px;
		font-size: .9em;
	}
	.carImgPlaceholder {
		img { width: 100%; }
	}
}

.carTechDetails {
	margin: 0 0 20px;
	dt, dd {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: .9em;
	}
	dt { 
		position: relative;
		width: 35%; 
		padding-right: 5%;
		&:after {
			position: absolute;
			right: 2%;
			display: inline-block;
			content: ":";
		}
	}
	dd { 
		color: #eee;
		width: 60%;
	}
}
// ------------------------



// page content > page ABOUT 
// ------------------------
.pageAbout {
	margin: 1em 0;
	.protradeTeam {
		font-size: .9em;
		img { 
			display: block;
			padding: 2px;
			border: 1px solid #999;
		}
		h3 { margin: 10px 0 0 !important; }
	}
	.aboutText {
		padding: 20px;
		min-height: 200px;
		padding-right: 260px;
		background-image: url('../../images/about_page_bcgr.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}
}



// page content > page CONTACT 
// ------------------------
.pageContact {
	.contentInsider {
		h2, h3, h4 {
			margin: 0 0 3px; 
		}
	}
}