@media ($smallScreen) {

	$adaptiveMenuWidth: 240px;
	
	body { font-size: 1.2em; }

	.bodyWrapper { padding: 5px; }
	.pageWrapper { width: 100%; }

	.pageTitle,
	.contentInsider { padding: 10px; }
	
	// adaptive menu
	.navContainer {
		position: absolute;
		z-index: 1;
		top: 0; 
		width: $adaptiveMenuWidth;
		font-size: 1.1rem;
		@include single-transition(left, .2s, ease-in, .1s);
		left: -$adaptiveMenuWidth;
	}
	.showAdaptiveMenu {
		.navContainer {	
			left: 0;
		}
	}

	// header
	.pageHeader {
		.menuBurgerButton { display: block; } 
		.siteNav {
			border-radius: 0 0 10px 0;
			padding: 60px 0 10px;
			li {
				display: block;
				padding: 0;
				&:last-child { float: none; }
				a { padding: 1em .5em; }
			}
		}
	}
	.headeRightContainer { display: none; }
	.headerLogo	{ float: right; }

}


// 480px
@media #{$mediaScreenTablet}  {
	
	// grids
	[class*='col-'] {
		width: 100% !important;
		padding: 0 !important;
	}
}


