/*
 * mobileLayout()
 */
@mixin mobileLayout() {

	$adaptiveMenuWidth: 20em;

	// grids
	[class*='col-'] {
		width: 100% !important;
		padding: 0 !important;
	}
	.grid-pad { padding: 10px; }

	body { 
		font-size: 1.2em; 
		background-image: none !important;
	}

	//.bodyWrapper { padding: 5px; }
	.pageWrapper { width: 100%; }

	.pageTitle,
	.contentInsider { padding: .6em 10px; }
	
	// adaptive menu
	.navContainer {
		position: absolute;
		z-index: 8;
		top: 0; 
		width: $adaptiveMenuWidth;
		@include single-transition(left, .2s, ease-in, .1s);
		left: -$adaptiveMenuWidth; 
	}
	.showAdaptiveMenu {
		.navContainer {	
			left: 0;
		}
	}

	// header
	.pageHeader {
		font-size: 0.7em;
		min-height: 4em;
		background: $yellowColor;
		.menuBurgerButton { display: block; } 
		.siteNav {
			border-radius: 0 0 10px 0;
			padding: 4em 0 .5em;
			font-size: 1.2em;
			li {
				display: block;
				padding: 0;
				&:last-child { float: none; }
				a { 
					font-size: 1.4em;
					// padding: 1em .7em; 
				}
			}
		}
	}
	.headeRightContainer { display: none; }
	.headerLogo	{ 
		float: right; 
		padding: 3px 5px 0;
		.yellowLogo { display: none; }
		.blackLogo { 
			display: block;
			height: 4em;
			// width: 8em;
			// padding: .5em .3em 0 0;
			width: 10em;
			padding: .2em .3em 0 0;
		}
	}
	.headerPageTitle { display: block; }
	.headerLang { 
		top: 12px; 
		a { color: #000 !important; }
	}


	.backToList { margin: .5em 10px; }

	.gal_main { padding-bottom: 20px; }
 
	.carItem .statusLabel {
		&:before,
		&:after {
			display: none;
		}
		right: 0px;
		height: 1.6em;
		font-size: 0.8em;
		line-height: 1.5em;
	}
}




@media ($smallScreen) {
	
	@include mobileLayout();

	// page adjustments

	// page CAR
	.pageCar {
		.contentWrapper {
			.grid { 
				display: block;
				margin-bottom: 0;
				.carDesription,
				.carTechDetails { 
					padding: 10px 20px; 
					font-size: .9em;
				}
				// .carTechDetails dt { font-size: .9em; }
			}
		}
	}
	.carItem {
		.carPic {
			margin-bottom: 10px;
		}
		.carPics {
			li {
				&:nth-of-type(2n) { margin-right: 0; }
				width: 49%;
				margin-right: 2%;
			}
		}
		.carTitle { 
			font-size: 1.4em;
			> a,
			> span { 
				padding: .1em 20px; 
			}
		}
	}



	// page REFERENCE
	.pageReferences {
		.referenceList > ul {
			display: block;
		}
	}


	// page ABOUT
	.pageAbout {
		.aboutText {
			padding: 10px;
			background-image: none;
		}
	}
	.protradeTeam {
		> div { margin-bottom: 40px; }
		h3 { 
			font-size: 1.4em;
			color: #eee;
		}
	}


	// page CONTACT
	.pageContact {
		.grid { margin-bottom: 0; }
		[class*='col-'] {
			margin-bottom: 30px;
		}
	}


}


// 
// @media #{$mediaScreenTablet}  {
@media #{$mediaScreenPhablet}  {
	
}


// mobile devices detected by js
/*
.mobileDevice {
	font-size: 1.8em;
}
*/



@mixin hiresDevMQ() {
	body { font-size: 1.2em; }
	.pageHeader { font-size: .6em; }
}

/*
 * hi-res devices 
 *
@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-webkit-min-resolution: 192dpi) {
    @include mobileLayout();
    @include hiresDevMQ();
}
*/

// ipad 3-4 (retina)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
	// body { font-size: 1.2em; }
	// .pageHeader { font-size: .6em; }
}

// iphone 6 plus
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
	body { font-size: 1em; }
	.pageHeader { font-size: .6em; }
}

// iphone 6
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	body { font-size: 1em; }
	.pageHeader { font-size: .6em; }
}

//iPhone 5 & 5S
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	body { font-size: 1em; }
	.pageHeader { font-size: .6em; }
}

