// dimentions
$pageWidth: 980px;

// colors
$yellowColor: #ffe71b;
$borderColor: #999;

// media queries
$smallScreen: 'max-width: #{$pageWidth}';					// small screen [general]
$mediaScreenLaptop: '(max-width: 1024px)';			// laptop
$mediaScreenTablet: '(max-width: 768px)';			// tablets
$mediaScreenPhablet: '(max-width: 480px)';			// smartphones
$mediaScreenMobile: '(max-width: 320px)';			// smartphones