// css-Images
$imgUrl: 'http://new.protrade2000.de/assets/template/img/';
 
// dimentions
$pageWidth: 980px;

// colors
$yellowColor: #ffe71b;
$borderColor: #999;

// media queries
$smallScreen: 'max-width: #{$pageWidth}';			// small screen [general]
$mediaScreenDefault: '(max-width: 980px)';			// default
$mediaScreenLaptop: '(max-width: 1024px)';			// laptop
$mediaScreenTablet: '(max-width: 768px)';			// tablets
$mediaScreenPhablet: '(max-width: 480px)';			// smartphones
$mediaScreenMobile: '(max-width: 320px)';			// smartphones
