// colors
$yellowColor: #ffe71b;

// media queries
$smallScreen: 'max-width: 980px';					// small screen [general]
/*
$mediaScreenLaptop: '(max-width: 1024px)';			// laptop
$mediaScreenTablet: '(max-width: 768px)';			// tablets
$mediaScreenPhablet: '(max-width: 480px)';			// smartphones
$mediaScreenMobile: '(max-width: 320px)';			// smartphones
*/